<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Framework">
    <test name="Automation Test">
        <classes>
            <class name="postTests.GetAllPostsTest" />
            <class name="postTests.GetSinglePostTest" />
            <class name="commentsTests.GetAllCommentsTests" />
            <class name="commentsTests.GetSingleCommentTest" />
            <class name="albumsTests.GetAllAlbumsTest" />
            <class name="albumsTests.GetSingleAlbumTest" />
            <class name="photosTests.GetAllPhotosTest" />
            <class name="photosTests.GetSinglePhotoTest" />
            <class name="todoTests.GetAllToDosTests" />
            <class name="todoTests.GetSingleToDoTest" />
            <class name="usersTests.GetAllUsersTests" />
            <class name="usersTests.GetSingleUserTest" />
        </classes>
    </test>
</suite>