<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Automation Framework">
    <test name="Automation Test">
        <packages>
            <package name="albumsTests" />
            <package name="commentsTests" />
            <package name="photosTests" />
            <package name="postTests" />
            <package name="todoTests" />
            <package name="usersTests" />
        </packages>
    </test>
</suite>